@model IEnumerable<WebApplication7.Models.Person> 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a asp-action="Create">Neu anlegen</a>
    @foreach (var person in Model)
    { 
      <p>@person.Vorname @person.Nachname
          <a asp-action="Details" asp-route-id="@person.Id">Details</a>
          <a asp-action="Edit" asp-route-id="@person.Id">Bearbeiten</a>
          <a asp-action="Delete" asp-route-id="@person.Id">Delete</a>
      </p>  
    }
</body>
</html>
